In [43]:
import numpy as np
import pandas as pd

data = pd.read_csv('example.csv', sep = '\t', encoding = 'latin1')
data = data.loc[data['swift']=='ARU02']
data

,Selection,View,Channel,Begin Time (s),End Time (s),Low Freq (Hz),High Freq (Hz),label,conf,hour_voc,date_voc,lat,long,swift,site,land_use,land_cover,vegetation
101,1,Spectrogram 1,1,11.184014,11.451313,2545.418292,3581.763953,Gorilla,0.362439,16:00:00,2018-12-04,NaN,NaN,ARU02,NaN,NaN,NaN,NaN
102,2,Spectrogram 1,1,12.000000,12.061285,1098.626852,4811.598063,Gorilla,0.163796,16:00:00,2018-12-04,NaN,NaN,ARU02,NaN,NaN,NaN,NaN
103,1,Spectrogram 1,1,6.000000,8.146413,0.000000,1228.182539,Gorilla,0.188420,19:00:00,2018-12-04,NaN,NaN,ARU02,NaN,NaN,NaN,NaN
104,2,Spectrogram 1,1,15.693803,18.000000,0.000000,1233.725250,Gorilla,0.182086,19:00:00,2018-12-04,NaN,NaN,ARU02,NaN,NaN,NaN,NaN
105,3,Spectrogram 1,1,21.684133,24.000000,0.000000,1208.356470,Gorilla,0.215466,19:00:00,2018-12-04,558120.0,9845614.0,ARU02,KYAAA,road,stream,FP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,2,Spectrogram 1,1,13.730634,13.995644,1158.860624,2384.955585,Gorilla,0.241526,07:00:00,2018-12-05,NaN,NaN,ARU02,NaN,NaN,NaN,NaN
370,3,Spectrogram 1,1,23.837192,23.998490,1235.439405,2447.047606,Gorilla,0.227132,07:00:00,2018-12-05,558120.0,9845614.0,ARU02,KYAAA,road,stream,FP
371,4,Spectrogram 1,1,26.172586,26.441720,1090.924740,2371.154130,Gorilla,0.270577,07:00:00,2018-12-05,NaN,NaN,ARU02,NaN,NaN,NaN,NaN
372,5,Spectrogram 1,1,31.450909,31.712141,1122.503430,2381.233424,Gorilla,0.278678,07:00:00,2018-12-05,NaN,NaN,ARU02,NaN,NaN,NaN,NaN
373,6,Spectrogram 1,1,39.288482,39.550531,1220.558621,2411.697172,Gorilla,0.235766,07:00:00,2018-12-05,NaN,NaN,ARU02,NaN,NaN,NaN,NaN